Checks:
  - "*"
  - -altera*
  - -boost*
  - -bugprone-easily-swappable-parameters
  - -cppcoreguidelines*
  - -fuchsia*
  - -google*
  - -hicpp-explicit-conversions
  - -hicpp-special-member-functions
  - -llvm*
  - -misc-no-recursion
  - -misc-non-private-member-variables-in-classes
  - -misc-use-anonymous-namespace
  - -misc-use-internal-linkage
  - -modernize-use-nodiscard
  - -modernize-use-trailing-return-type
  - -portability-avoid-pragma-once
  - -readability-convert-member-functions-to-static
  - -readability-identifier-length
  - -readability-implicit-bool-conversion
  - -readability-isolate-declaration
  - -readability-static-definition-in-anonymous-namespace

WarningsAsErrors: "*"
