name: Build and Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies on Linux
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt update
          sudo apt install -y g++ make cmake just

      - name: Install dependencies on Windows
        if: matrix.os == 'windows-latest'
        run: |
          choco install cmake --installargs '"ADD_CMAKE_TO_PATH=System"' -y
          git clone https://github.com/microsoft/vcpkg.git C:/vcpkg
          C:/vcpkg/bootstrap-vcpkg.bat
          C:/vcpkg/vcpkg install gtest:x64-windows

      - name: Build on Linux
        if: matrix.os == 'ubuntu-latest'
        run: just build

      - name: Build on Windows
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: |
          cmake -S . -B build `
          -DCMAKE_TOOLCHAIN_FILE=C:/vcpkg/scripts/buildsystems/vcpkg.cmake `
          -DVCPKG_TARGET_TRIPLET=x64-windows
          cmake --build build --config Release

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure